<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /natcon2026/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /natcon2026/index.html [L]
</IfModule>
